/*https://www.freeformatter.com/html-formatter.html#ad-output - Форматировщик HTML*/
/*https://html5css.ru/colors/colors_shades.php - оттенки черного 16 бит*/

h1, h2, h3, h4, p { font-family: 'Arial'; text-align:center; }
h5 {font-family: 'Trebuchet MS'; text-align:center; color: 	#DCDCDC}  
body { background: #080808; /* Цвет фона */ color: #FFFFFF; /* Цвет текста */ }

#footer {
position: fixed;
left: 0; bottom: 0; /* Левый нижний угол */
padding: 0px; /* Поля вокруг текста */
background: DarkSlateGray; /* Цвет фона */
color: #FFFFFF; /* Цвет текста */
width: 100%;
}
.top_button {
position: fixed; /* Фиксированное положение */
right: 5%; /* Расстояние от правого края окна браузера */
top: 90%; /* Расстояние сверху */
padding: 0px; /* Поля вокруг текста */ 
}

.zoom-in { cursor: zoom-in; }
.bl { margin-top: 5px; }

.table_block {
border-radius: 16px;
border-left: 23px dotted #202020;
border-right: 23px dotted #202020;
}​

.1 {s;}

.table_block_2 {
border-radius: 8px;
border-left:16px dotted #383838;
border-right: 16px dotted #383838;
}​