   /*https://www.freeformatter.com/html-formatter.html#ad-output - Форматировщик HTML*/
   
   @font-face {
    font-family: SH-3; /* Гарнитура шрифта */
    src: url(settings/SH-3.ttf); /* Путь к файлу со шрифтом */
   }
   h1, h4, p {
    font-family: SH-3, "Arial", sans-serif;
   }
   
   body {
    background: #080808; /* Цвет фона */
    color: #FFFFFF; /* Цвет текста */
   }
   #content {
    width: 500px; /* Ширина слоя */
    margin: 0 auto 50px; /* Выравнивание по центру */
   }
   #footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 0px; /* Поля вокруг текста */
    background: DarkSlateGray; /* Цвет фона */
    color: #FFFFFF; /* Цвет текста */
    width: 100%; /* Ширина слоя */
   }
   .table_block {
	border-radius: 16px;
   }​